form {
background-color: #1f5658;
border-radius: 5px;
margin: 20px auto;
padding: 35px;
width: 90%;
}
input {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}
textarea{   
border: 1px solid #fcfcfc;
border-radius: 4px;
height: 150px;
width: 100%
}

button{
    background-color: #356b6d;
    border:none;
    border-radius: 4px;
    color:rgb(27, 26, 26);
    cursor:pointer;
    margin: 8px 0;
    padding: 14px 20px;
    width:100%
}

button:focus,
button:hover {
    filter: brightness(125%)
}
@media only screen and (min-width: 600px) {
    form {
        width: 70%;

    }
}
@media only screen and (min-width: 768px) {
    form {
        width: 50%;
        
    }
}
@media only screen and (min-width: 950px) {
    form {
        width: 30%;
        
    }
}
@media only screen and (min-width: 1200px) {
    form {
        width: 30%;
        
    }
}