footer {
background-color: #1c3738;
padding: 10px 0 4px 0;
text-align: center;
width: 100%;
}

footer a 
{color: rgb(0, 0, 0);
display: inline-block;
padding: 8px;
text-decoration: none;}

footer a:hover{
    background-color:#abcac7;
    color: rgb(255, 255, 255);
    outline: none;
}
footer img{
    height:22px;
    margin-left: 3px;
    vertical-align: text-bottom;
}