/*Mobile First View */

h2 {
    display: none;
}
aside{
    background-color: #1c3738;
    font-size: 120%;
    padding: 5px 0;
    text-align: center;
    width:100%
}

aside a {
    color:rgb(255, 255, 255);
    display: block;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}

aside a:hover {
    background-color: #f4fff8;
    color: rgb(0, 0, 0);
    outline:none;
}

aside a:focus {
    background-color: #1b9889;
    color: white;
    outline: none;
}
#main_image {
    width:100%;
}
article{
    background-color:#ffffff;
    color: black;
    font size: 120%;
    padding: 0 10px;
    
}

article a{
    background-color: #1c3738;
    color: black;
    padding: 5px;
    text-decoration: none;
}
article a:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
}
article a:focus {
    background-color: white;
    color: black;
    text-decoration: none;
}


@media only screen and (min-width:768px){
    main {
        display: flex;
    }
    aside{
        align-items: center;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 30%;
    }
    section {
        display: inline;
        float: right;
        width: 70%;
    }
}
